.paginationBtn {
    width: 90px;
    text-align: center;
}

.color-text-dark {
    color: #343a40;
    font-weight: bold;
}

.active-btn {
    background-color: #64b404;
    border-color: #64b404;
}


/*#64b404*/
