.service-circle {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #64b404;
}
.service-circle span{
    text-align: center;
    color: #ffffff;
}

.service-circle span:nth-of-type(1){
    margin-top: 2px;
    font-weight: bold;
    font-size: 25px;
}

.service-img {
    width: 100%;
    height: auto;
}

/*==================================*/
.service-image-holder {
    display: block;
    overflow: hidden;
}

.service-img{
    transition: transform 0.5s; /* Animation */
}

.service-img:hover {
    transform: scale(1.05);
}
/*==================================*/

.service-preview-text {
    font-style: italic;
    font-size: 16px;
}

.service-preview-readmore {
    color: #64b404;
    font-size: 16px;
    text-decoration: underline;
}

.service-preview-readmore:hover {
    text-decoration: none;
    color: #64b404;
}