.carousel-h {
    font-size: 5vw;
    font-weight: bold;
    text-shadow: 1px 1px 1px #343a40;
}

.carousel-p {
    top: 5vw;
    font-size: 2vw;
    font-weight: bold;
    text-shadow: 2px 2px 2px #343a40;
}

.carousel-caption{
    top: 10vw;
    bottom: auto;
}