.about-card {
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    background-color: #efefef;

}

.about-card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #cdcbcb;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.about-card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #64b404;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom
}

.about-card:hover::after {
    transform: scaleY(1)
}

.about-social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0
}

.about-social-list li {
    padding: 3px;
    /*color: #8E24AA;*/
    color: blue;
    background-color: #8d8d8d;
    font-size: 19px
}

.custom-about-card-icons-round, .custom-about-card-icons-square {
    color: #33383b;
    background-color: #8d8d8d;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    box-sizing: border-box;
}

.custom-about-card-icons-round {
    border-radius: 50%;
}

.custom-about-card-icons-round:hover, .custom-about-card-icons-square:hover {
    color: blue;
    box-shadow: 0px 0px 5px 3px blue;
}

.margin-right-2vw {
    margin-right: 2vw;
}

.about-card-img{
    transition: transform 0.5s; /* Animation */
}

.about-card-img:hover {
    transform: scale(1.05);
}

/*.about-buttons button {*/
/*    background-color: #64b404;*/
/*}*/

/*.about-buttons button:nth-child(1) {*/
/*    !*border: 1px solid #8E24AA !important;*!*/
/*    color: #fff;*/
/*    height: 40px*/
/*}*/

/*.about-buttons button:nth-child(1):hover {*/
/*    border: 1px solid #8E24AA !important;*/
/*    color: #fff;*/
/*    height: 40px;*/
/*    background-color: #8E24AA*/
/*}*/

/*.about-buttons button:nth-child(2) {*/
/*    border: 1px solid #8E24AA !important;*/
/*    background-color: #8E24AA;*/
/*    color: #fff;*/
/*    height: 40px*/
/*}*/

