.custom-icons-round, .custom-icons-square {
    /*color: #fff;*/
    color: #33383b;
    background-color: #8d8d8d;
    /*font-size: 25px;*/
    width: 35px;
    height: 35px;
    /*border-radius: 50%;*/
    text-align: center;
    line-height: 35px;
    box-sizing: border-box;

}

.custom-gray-text {
    color: #8d8d8d;
}

.custom-icons-round {
    border-radius: 50%;
}

.custom-icons-round:hover, .custom-icons-square:hover {
    color: blue;
    box-shadow: 0px 0px 5px 3px blue;
    /*color: #64b404;*/
    /*box-shadow: 0px 0px 5px 3px #64b404;*/
}

.margin-right-2vw {
    margin-right: 2vw;
}