.header {
    background-color: #343a40;
}
.headingMain {
    color: #8d8d8d;
    margin: 0;
    font-size: 2rem;
}
.logoTemp {
    position: absolute;
    left: 10px;
    top: 10px;
}
.customNavBtn {
    background-color: #343a40;
    width: 100%;
}
.green-strype {
    height: 17px;
    margin: 0 auto;
    background: rgb(76,148,4);
    background: radial-gradient(circle, rgba(76,148,4,1) 15%, rgba(52,92,4,1) 85%);
}
/*below styles from burger nav example*/
.header-blue .navbar .navbar-collapse {
    border-top:1px solid rgba(255,255,255,0.3);
    margin-top:.5rem;
}
@media (min-width:768px) {
    .header-blue .navbar .navbar-collapse {
        border-color:transparent;
        margin:0;
    }
}
.header-blue .navbar .navbar-toggler {
    border-color:rgba(255,255,255,0.3);
}
/*========================================*/